<form method="post">
  <textarea name="text" cols="30" rows="10"><%= @former_text %></textarea>
  <input type="hidden" name="_method" value="patch">
  <input type="submit" class="btn btn-primary" value="保存">
</form>
